%h1
	= @user.name + '\'s'
	profile

.profile
	.profile-img
		= image_tag @user.avatar.url(:medium)

	%p
		Name:
		= @user.name
	%p
		Email:
		= @user.email
	%p
		Date of birth:
		= @user.date_of_birth
	%p
		Sex:
		= @user.set_sex
	%p
		= pluralize(@user.articles.count, "Article")
	%p
		Follows
		= pluralize(@user.follow_count, "User")
	%p
		Followed by
		= pluralize(@user.followers_count, "Users")


	- if @user == current_user
		=link_to 'Edit', edit_user_registration_path
	-else
		-if current_user.following?(@user)
			= link_to 'Unfollow', unfollow_user_path(@user)
		-else
			= link_to 'Follow', follow_user_path(@user)

	= link_to 'Back', :back