!!!
%html
%head
	%title Share_app
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= csrf_meta_tags
	%link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}

%body
	.container
		#logo=	link_to (image_tag 'editing-pen.png'), root_path	
		%header
			%nav
				= link_to 'Home', root_path			
				- if user_signed_in?
					= link_to current_user.name, user_path(current_user)
					= link_to 'Add New Article', new_article_path
					= link_to 'Log Out', destroy_user_session_path, method: :delete
				- else
					= link_to 'Log In', new_user_session_path
					= link_to "Sign Up", new_user_registration_path
		%p.notice#alrt= notice
		%p.alert#alrt= alert


		=yield
		%footer
			©mfunda
